<div class="main-content main-content-product">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{product.id }}">
                            <img src="{{product.imageUrl}}" alt="" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{product.id}}">
                            <h1> {{product.name}}</h1>
                        </a>
                        <div class="price"> {{product.unitPrice}}</div>
                        <a class="primary-btn">Add to Cart</a>
                    </div>
                </div>

                <!-- if products empty then display a message -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No product found.
                </div>
            </div>

            <!-- begin footer-->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="pageNumber" 
                                                [pageSize]="pageSize"
                                                [collectionSize]="totalElements" 
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts">
                                    
                                </ngb-pagination>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <!-- pagination where user can select the number of products to display-->
                        <div class="col-md-4 mt-2" style="text-align: right;">
                            <span class="mr-2">Page Size</span>
                            <select #pageSelect (change)="updatePageSize(pageSelect.value)">
                                <option>2</option>
                                <option selected="true">5</option>
                                <option >10</option>
                                <option >20</option>
                                <option >50</option>
                            </select>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- end footer -->

        </div>
    </div>
</div>